<!--
Copyright © 2014 by eBusiness Information
All rights reserved. This source code or any portion thereof
may not be reproduced or used in any manner whatsoever
without the express written permission of eBusiness Information.
-->
<header id="header" class="navbar navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <nav id="navbar-collapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ng-click="changeLanguage('fr')" ng-class="{'active' : language !== 'en'}"><a href="">FR</a></li>
          <li ng-click="changeLanguage('en')" ng-class="{'active' : language !== 'fr'}"><a href="">EN</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li ng-class="{'active' : location === '/'}">
            <a href="#/"><i class="fa fa-home"></i></a>
          </li>

          <!--RESOURCES-->
          <li class="dropdown"
              ng-class="{'active' : location === '/download'
                                 || location === '/docs'
                                 || location === '/talks'
                                 || location === '/about'}">
            <a href="" class="dropdown-toggle"
               data-toggle="dropdown" role="button">
              <span translate="MENU_RESOURCES"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#/download" translate="MENU_RESOURCES_DOWNLOAD"
                     ng-class="{'active-sub-menu' : location === '/download'}"></a></li>
              <li><a href="#/docs" translate="MENU_RESOURCES_DOCUMENTATION"
                     ng-class="{'active-sub-menu' : location === '/docs'}"></a></li>
              <li><a href="/docs/{{version}}/project/events.html" translate="MENU_RESOURCES_TALKS"
                     ng-class="{'active-sub-menu' : location === '#/docs/' + version + '/project/events.html'}"></a></li>
              <li><a href="/docs/{{version}}/project/online_resources.html" translate="MENU_RESOURCES_ABOUT"
                     ng-class="{'active-sub-menu' : location === '#/docs/' + version + '/project/online_resources.html'}"></a></li>
            </ul>
          </li>

          <!--PROFESSIONAL SERVICES-->
          <li class="dropdown"
              ng-class="{'active' : location === '/presentation'
                                 || location === '/presentation'
                                 || location === '/presentation'
                                 || location === '/why'}">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button">
              <span translate="MENU_PROFESSIONAL_SERVICES"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#/" translate="MENU_PROFESSIONAL_SERVICES_SUPPORT"
                     ng-class="{'active-sub-menu' : location === '/'}"></a></li>
              <li><a href="#/" translate="MENU_PROFESSIONAL_SERVICES_TRAINING"
                     ng-class="{'active-sub-menu' : location === '/'}"></a></li>
              <li><a href="#/stories" translate="MENU_PROFESSIONAL_SERVICES_STORIES"
                     ng-class="{'active-sub-menu' : location === '/stories'}"></a></li>
              <li><a href="#/why" translate="MENU_PROFESSIONAL_SERVICES_WHY"
                     ng-class="{'active-sub-menu' : location === '/why'}"></a></li>
            </ul>
          </li>

          <!--COMPANY-->
          <li class="dropdown"
              ng-class="{'active' : location === '/values'
                                 || location === '/history'
                                 || location === '/presentation'
                                 || location === '/contact'}">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button">
              <span translate="MENU_COMPANY"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#/values" translate="MENU_COMPANY_VALUES"
                     ng-class="{'active-sub-menu' : location === '/values'}"></a>
              </li>
              <li><a href="#/history" translate="MENU_COMPANY_HISTORY"
                     ng-class="{'active-sub-menu' : location === '/history'}"></a>
              </li>
              <li><a href="#/" translate="MENU_COMPANY_TEAM"
                     ng-class="{'active-sub-menu' : location === '/'}"></a>
              </li>
              <li><a href="#/contact" translate="MENU_COMPANY_CONTACT"
                     ng-class="{'active-sub-menu' : location === '/contact'}"></a>
              </li>
            </ul>
          </li>

          <li ng-class="{'active' : location == '/docs'}"><a href="#/" translate="MENU_BLOG"></a></li>

          <!--SHARE-->
          <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               href="#/">
              <i class="fa fa-share-alt"></i>
              <span translate="MENU_SHARE"></span>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="https://github.com/gatling/gatling" target="_blank" >
                  <i class="fa fa-github"></i>
                  <span translate="MENU_SHARE_GITHUB"></span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/GatlingTool" target="_blank">
                  <i class="fa fa-twitter"></i>
                  <span translate="MENU_SHARE_TWITTER"></span>
                </a>
              </li>
              <li>
                <a href="https://groups.google.com/forum/#!forum/gatling" target="_blank">
                  <i class="fa fa-google-plus"></i>
                  <span translate="MENU_SHARE_GOOGLEPLUS"></span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </nav>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </div>
</header>